.TablePagination {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.TablePagination__prev-btn {
  margin-right: 10px;
}

.TablePagination__subtitle {
  padding: 0 10px;
}