.ShortLink {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 30px; 
  margin-top: 20px;
}

.ShortLink__content {
  color: #0087E9;
  cursor: pointer;
}

.ShortLink__title {
  font-weight: 700;
  margin-right: 10px;
}
